* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

:root {
    --background-dark: #090e22;
    --fontColor-white: #ffffff;
}

body {
    background-color: var(--background-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: var(--fontColor-white);
}